src/main/resources/XeroSchemas/v2.00/Allocation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Allocation"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="CreditNoteItem.xsd" />
  <xs:include schemaLocation="InvoiceItem.xsd" />
  <xs:include schemaLocation="PaymentItem.xsd" />
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="AllocationItem.xsd" />

  <!-- Payment against an invoice -->
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="Payment" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfCreditNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditNote" nillable="true" type="CreditNote" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
