src/main/resources/XeroSchemas/v2.00/Allocation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Allocation"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Allocation" 
    xmlns:alloc="http://www.xero.com/Allocation" 
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:inv="http://www.xero.com/Invoice" 
    xmlns:cnote="http://www.xero.com/CreditNote" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />

  <xs:import schemaLocation="Invoice.xsd"
    namespace="http://www.xero.com/Invoice" />

  <xs:import schemaLocation="CreditNote.xsd"
    namespace="http://www.xero.com/CreditNote" />  

  <!-- Payment against an invoice -->
  <xs:complexType name="Allocation">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="AppliedAmount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Invoice" type="inv:Invoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNote" type="cnote:CreditNote" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" nillable="true" type="xs:dateTime" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ArrayOfAllocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Allocation" nillable="true" type="alloc:Allocation" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
