src/main/resources/XeroSchemas/v2.00/ArrayOfTrackingCategory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ArrayOfTrackingCategory"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
 
  <xs:element name="TrackingCategories" type="ArrayOfTrackingCategory" />
  
  <xs:complexType name="ArrayOfTrackingCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingCategory" nillable="true" type="TrackingCategory" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
