src/main/resources/XeroSchemas/v2.00/BankTransaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BankTransaction"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/BankTransaction"
    xmlns:btrans="http://www.xero.com/BankTransaction"
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:con="http://www.xero.com/Contact" 
    xmlns:line="http://www.xero.com/LineItem" 
    xmlns:acct="http://www.xero.com/Account"
    xmlns:ccode="http://www.xero.com/CurrencyCode">

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" /> 
  <xs:import schemaLocation="Contact.xsd"
    namespace="http://www.xero.com/Contact" />
  <xs:import schemaLocation="LineItem.xsd"
    namespace="http://www.xero.com/LineItem" />
  <xs:import schemaLocation="Account.xsd"
    namespace="http://www.xero.com/Account" />  
   <xs:import schemaLocation="CurrencyCode.xsd"
    namespace="http://www.xero.com/CurrencyCode" />     
  
  <xs:element name="BankTransactions" type="btrans:ArrayOfBankTransaction" />

  <!-- Bank Transactions -->
  <xs:complexType name="ArrayOfBankTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankTransaction" nillable="true" type="btrans:BankTransaction" />
    </xs:sequence>
  </xs:complexType>

  <!-- Bank Transaction (Spend Money or Receice Money) -->
  <xs:complexType name="BankTransaction">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />

      <xs:element minOccurs="1" maxOccurs="1" name="Contact" type="con:Contact" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="base:bankTransactionStatus" />
      <xs:element minOccurs="1" maxOccurs="1" name="LineAmountTypes" type="base:lineAmountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineItems" type="line:ArrayOfLineItem" />
      <xs:element minOccurs="1" maxOccurs="1" name="SubTotal" type="base:itemPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalTax" type="base:itemPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="base:itemPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="UpdatedDateUTC" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="ccode:currencyCode" />
      <xs:element minOccurs="1" maxOccurs="1" name="BankTransactionID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="BankAccount" type="acct:Account" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="base:bankTransactionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsReconciled" type="base:trueOrFalse" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyRate" type="base:currencyRate" />
      
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
