src/main/resources/XeroSchemas/v2.00/BankTransfer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BankTransfer"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/BankTransfer" 
    xmlns:transfer="http://www.xero.com/BankTransfer" 
    xmlns:base="http://www.xero.com/BaseTypes" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />

  
  <xs:element name="BankTransfers" type="transfer:ArrayOfBankTransfer" />

  <!-- Bank Transactions -->
  <xs:complexType name="ArrayOfBankTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankTransfer" nillable="true" type="transfer:BankTransfer" />
    </xs:sequence>
  </xs:complexType>

  <!-- Bank Transfer (Spend or Receive) -->
  <xs:complexType name="BankTransfer">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="1" maxOccurs="1" name="BankTransferID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreatedDateUTC" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="FromBankAccount" type="transfer:BankAccount" />
      <xs:element minOccurs="1" maxOccurs="1" name="ToBankAccount" type="transfer:BankAccount" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="base:itemPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="FromBankTransactionID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="ToBankTransactionID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyRate" type="base:currencyRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="HasAttachments" type="xs:boolean" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="BankAccount">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="AccountID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="base:accountCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="base:accountName" />
    </xs:all>
  </xs:complexType>

</xs:schema>
