src/main/resources/XeroSchemas/v2.00/CreditNote.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CreditNote"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/CreditNote" 
    xmlns:cnote="http://www.xero.com/CreditNote" 
    xmlns:base="http://www.xero.com/BaseTypes" 
    xmlns:con="http://www.xero.com/Contact" 
    xmlns:line="http://www.xero.com/LineItem" 
    xmlns:ccode="http://www.xero.com/CurrencyCode" 
    xmlns:attach="http://www.xero.com/Attachment" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />
  <xs:import schemaLocation="Contact.xsd"
    namespace="http://www.xero.com/Contact" />
  <xs:import schemaLocation="LineItem.xsd"
    namespace="http://www.xero.com/LineItem" />
  <xs:import schemaLocation="CurrencyCode.xsd"
    namespace="http://www.xero.com/CurrencyCode" />   
 <xs:import schemaLocation="Attachment.xsd"
    namespace="http://www.xero.com/Attachment" /> 

  <xs:element name="CreditNotes" nillable="true" type="cnote:ArrayOfCreditNote" />

  <xs:complexType name="ArrayOfCreditNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditNote" nillable="true" type="cnote:CreditNote" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CreditNote">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="con:Contact" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrandingThemeID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="base:invoiceStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineAmountTypes" nillable="true" type="base:lineAmountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineItems" type="line:ArrayOfLineItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubTotal" nillable="true" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalTax" nillable="true" type="base:itemPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" nillable="true" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="ccode:currencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullyPaidOnDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="base:creditNoteType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreditNoteID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNoteNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SentToContact" type="base:trueOrFalse" />
      <xs:element minOccurs="0" maxOccurs="1" name="AppliedAmount" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyRate" type="base:currencyRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="RemainingCredit" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Allocations" type="cnote:ArrayOfAllocation" />
      <xs:element minOccurs="0" maxOccurs="1" name="HasAttachments" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Attachments" type="attach:ArrayOfAttachment" />
      
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="Allocation">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />

      <xs:element minOccurs="0" maxOccurs="1" name="AppliedAmount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="xs:dateTime" />
      
      <xs:element minOccurs="0" maxOccurs="1" name="Invoice" type="cnote:Invoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNote" type="cnote:CreditNote" />
      
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" nillable="true" type="xs:dateTime" />
      
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ArrayOfAllocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Allocation" nillable="true" type="cnote:Allocation" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Invoice">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="xs:string" />
    </xs:all>
  </xs:complexType>
  
</xs:schema>