src/main/resources/XeroSchemas/v2.00/CreditNote.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CreditNote"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="CreditNoteItem.xsd" />
  <xs:include schemaLocation="Attachment.xsd" />
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="LineItem.xsd" />
  <xs:include schemaLocation="Contact.xsd" />
  <xs:include schemaLocation="CurrencyCode.xsd" />

  <xs:element name="CreditNotes" nillable="true" type="ArrayOfCreditNote" />

  <xs:complexType name="ArrayOfCreditNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditNote" nillable="true" type="CreditNote" />
    </xs:sequence>
  </xs:complexType>
  

  <xs:complexType name="Invoice">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="xs:string" />
    </xs:all>
  </xs:complexType>
  
</xs:schema>