src/main/resources/XeroSchemas/v2.00/Currency.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Currency"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Currency" 
    xmlns:curr="http://www.xero.com/Currency" 
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:ccode="http://www.xero.com/CurrencyCode" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />

  <xs:import schemaLocation="CurrencyCode.xsd"
    namespace="http://www.xero.com/CurrencyCode" />

  <xs:element name="Currencies" nillable="true" type="curr:ArrayOfCurrency" />

  <xs:complexType name="ArrayOfCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="curr:Currency" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Currency">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="ccode:currencyCode" />
      <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

</xs:schema>