src/main/resources/XeroSchemas/v2.00/Employee.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Employee"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Employee" 
    xmlns:emp="http://www.xero.com/Employee" 
    xmlns:base="http://www.xero.com/BaseTypes" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />

  <xs:element name="Employees" type="emp:ArrayOfEmployee" />

  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element name="Employee" minOccurs="0" maxOccurs="unbounded" type="emp:Employee" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Employee">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element name="EmployeeID" minOccurs="0" maxOccurs="1" type="base:uniqueIdentifier" />
      <xs:element name="Status" minOccurs="0" maxOccurs="1" type="base:employeeStatus" />
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="FirstName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="LastName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExternalLink" minOccurs="0" maxOccurs="1" type="base:Hyperlink" />
      <xs:element name="UpdatedDateUTC" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
