src/main/resources/XeroSchemas/v2.00/ExpenseClaim.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ExpenseClaim"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/ExpenseClaim" 
    xmlns:exp="http://www.xero.com/ExpenseClaim" 
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:user="http://www.xero.com/User"
    xmlns:recpt="http://www.xero.com/Receipt" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />
  <xs:import schemaLocation="User.xsd"
    namespace="http://www.xero.com/User" />
  <xs:import schemaLocation="Receipt.xsd"
    namespace="http://www.xero.com/Receipt" />

  <xs:element name="ExpenseClaims" type="exp:ArrayOfExpenseClaim" />

  <xs:complexType name="ArrayOfExpenseClaim">
    <xs:sequence>
      <xs:element name="ExpenseClaim" minOccurs="0" maxOccurs="unbounded" type="exp:ExpenseClaim" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExpenseClaim">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element name="ExpenseClaimID" minOccurs="0" maxOccurs="1" type="base:uniqueIdentifier" />
      <xs:element name="Status" minOccurs="0" maxOccurs="1" type="base:expenseClaimStatus" />
      <xs:element name="Date" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="UpdatedDateUTC" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="User" minOccurs="0" maxOccurs="1" type="user:User" />
      <xs:element name="Receipts" minOccurs="0" maxOccurs="1" type="recpt:ArrayOfReceipt" />
      <xs:element name="Total" minOccurs="0" maxOccurs="1" type="base:itemPrice" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
