src/main/resources/XeroSchemas/v2.00/Invoice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Invoice"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Invoice"
    xmlns:inv="http://www.xero.com/Invoice"
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:con="http://www.xero.com/Contact" 
    xmlns:line="http://www.xero.com/LineItem" 
    xmlns:ccode="http://www.xero.com/CurrencyCode" 
    xmlns:attach="http://www.xero.com/Attachment" 
    xmlns:acct="http://www.xero.com/Account"
    xmlns:cnote="http://www.xero.com/CreditNote" 
    xmlns:pay="http://www.xero.com/Payment">

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" /> 
  <xs:import schemaLocation="Contact.xsd"
    namespace="http://www.xero.com/Contact" />
  <xs:import schemaLocation="LineItem.xsd"
    namespace="http://www.xero.com/LineItem" />
  <xs:import schemaLocation="CurrencyCode.xsd"
    namespace="http://www.xero.com/CurrencyCode" /> 
  <xs:import schemaLocation="Attachment.xsd"
    namespace="http://www.xero.com/Attachment" />   
  <xs:import schemaLocation="Account.xsd"
    namespace="http://www.xero.com/Account" />   
   <xs:import schemaLocation="CreditNote.xsd"
    namespace="http://www.xero.com/CreditNote" /> 
   <xs:import schemaLocation="Payment.xsd"
    namespace="http://www.xero.com/Payment" />       

  <xs:element name="Invoices" nillable="true" type="inv:ArrayOfInvoice" />

  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="inv:Invoice" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Invoice" type="inv:Invoice" />

  <xs:complexType name="Invoice">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="con:Contact" />
      <xs:element minOccurs="0" maxOccurs="1" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpectedPaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrandingThemeID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="base:invoiceStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineAmountTypes" nillable="true" type="base:lineAmountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineItems" type="line:ArrayOfLineItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="DiscountRate" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubTotal" nillable="true" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalTax" nillable="true" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Total" nillable="true" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="ccode:currencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullyPaidOnDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="base:invoiceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="base:invoiceNumberType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="base:referenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Payments" type="pay:ArrayOfPayment" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNotes" type="cnote:ArrayOfCreditNote" />
      <xs:element minOccurs="0" maxOccurs="1" name="AmountDue" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="AmountPaid" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="AmountCredited" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Url" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExternalLinkProviderName" type="xs:string" />
      <!-- This is never 'false', it's just not there. -->
      <xs:element minOccurs="0" maxOccurs="1" name="SentToContact" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyRate" type="base:currencyRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalDiscount" nillable="true" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="HasAttachments" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Attachments" type="attach:ArrayOfAttachment" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
