src/main/resources/XeroSchemas/v2.00/Invoice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Invoice"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Account.xsd" />
  <xs:include schemaLocation="CurrencyCode.xsd" />
  <xs:include schemaLocation="InvoiceItem.xsd" />

  <xs:element name="Invoices" nillable="true" type="ArrayOfInvoice" />

  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="Invoice" />
    </xs:sequence>
  </xs:complexType>

  
  <xs:element name="Payments" nillable="true" type="ArrayOfPayment" />
  <xs:element name="Payment" type="Payment" />

  <!-- Payment against an invoice -->
  <xs:complexType name="Payment">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element minOccurs="0" maxOccurs="1" name="PaymentID" type="uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Account" type="Account" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Invoice" type="Invoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyRate" type="currencyRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentType" type="paymentType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="invoiceStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" nillable="true" type="xs:dateTime" />
      
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="Payment" />
    </xs:sequence>
  </xs:complexType>

   <!-- Credit note against an invoice -->
  <xs:complexType name="CreditNote">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNoteID" type="uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="AppliedAmount" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNoteNumber" type="xs:string" />   
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ArrayOfCreditNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditNote" nillable="true" type="CreditNote" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
