src/main/resources/XeroSchemas/v2.00/Items.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Items"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Items" 
    xmlns:item="http://www.xero.com/Items"  
    xmlns:base="http://www.xero.com/BaseTypes">

   <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />  


  <xs:element name="Items" nillable="true" type="item:ArrayOfItem" />

  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="item:Item" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Item">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />

      <xs:element name="ItemID" type="base:uniqueIdentifier" minOccurs="0" maxOccurs="1" />
      <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="PurchaseDescription" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1" />
        
      <xs:element name="UpdatedDateUTC" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
      <xs:element name="SalesDetails" type="item:ItemPriceDetails" minOccurs="1" maxOccurs="1" />
      <xs:element name="PurchaseDetails" type="item:ItemPriceDetails" minOccurs="1" maxOccurs="1" />

      <xs:element name="Name" type="base:itemNameType" minOccurs="0" maxOccurs="1" />
      <xs:element name="IsTrackedAsInventory" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="false" />
      <xs:element name="InventoryAssetAccountCode" type="base:accountCode" minOccurs="0" maxOccurs="1" />
      <xs:element name="TotalCostPool" type="xs:decimal" minOccurs="0" maxOccurs="1" />
      <xs:element name="QuantityOnHand" type="xs:decimal" minOccurs="0" maxOccurs="1" />
      <xs:element name="IsSold" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="false" />
      <xs:element name="IsPurchased" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="false" />

    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ItemPriceDetails">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />

      <xs:element name="UnitPrice" type="base:itemPrice" minOccurs="0" maxOccurs="1" />
      <xs:element name="TaxType" type="base:taxType" minOccurs="0" maxOccurs="1" />
      <xs:element name="AccountCode" type="base:accountCode" minOccurs="0" maxOccurs="1" />
      <xs:element name="COGSAccountCode" type="base:accountCode" minOccurs="0" maxOccurs="1" />

    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
