src/main/resources/XeroSchemas/v2.00/Journal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Journal"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Journal" 
    xmlns:jrnl="http://www.xero.com/Journal"  
    xmlns:base="http://www.xero.com/BaseTypes" 
    xmlns:trk="http://www.xero.com/Tracking">

   <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />  

   <xs:import schemaLocation="Tracking.xsd"
    namespace="http://www.xero.com/Tracking" />  
  
  <xs:element name="Journals" nillable="true" type="jrnl:ArrayOfJournal" />

  <!-- Journals -->
  <xs:complexType name="ArrayOfJournal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Journal" nillable="true" type="jrnl:Journal" />
    </xs:sequence>
  </xs:complexType>

  <!-- Journal -->
  <xs:complexType name="Journal">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="JournalID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="JournalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="JournalNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreatedDateUTC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="JournalLines" type="jrnl:ArrayOfJournalLine" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <!-- Journal Lines -->
  <xs:complexType name="ArrayOfJournalLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalLine" nillable="false" type="jrnl:JournalLine" />
    </xs:sequence>
  </xs:complexType>

  <!-- Journal Line -->
  <xs:complexType name="JournalLine">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="1" maxOccurs="1" name="JournalLineID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="AccountID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountCode" type="base:accountCode" />
      <xs:element minOccurs="1" maxOccurs="1" name="AccountType" type="base:accountType" />
      <xs:element minOccurs="1" maxOccurs="1" name="AccountName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NetAmount" type="base:itemPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="GrossAmount" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxAmount" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="TrackingCategories" type="trk:ArrayOfTrackingCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxType" type="base:taxType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxName" type="xs:string" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>