src/main/resources/XeroSchemas/v2.00/ManualJournal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ManualJournal"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/ManualJournal" 
    xmlns:manjrnl="http://www.xero.com/ManualJournal"  
    xmlns:base="http://www.xero.com/BaseTypes" 
    xmlns:trk="http://www.xero.com/Tracking">

   <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />  

   <xs:import schemaLocation="Tracking.xsd"
    namespace="http://www.xero.com/Tracking" /> 

  <xs:element name="Manualjournals" type="manjrnl:ArrayOfManualJournal" />

  <xs:complexType name="ArrayOfManualJournal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManualJournal" nillable="true" type="manjrnl:ManualJournal" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ManualJournal">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="base:manualJournalStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineAmountTypes" type="base:lineAmountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ManualJournalID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Narration" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JournalLines" type="manjrnl:ArrayOfManualJournalLine" />
      <xs:element minOccurs="0" maxOccurs="1" name="Url" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExternalLinkProviderName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShowOnCashBasisReports" type="xs:boolean" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ArrayOfManualJournalLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalLine" nillable="true" type="manjrnl:ManualJournalLine" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ManualJournalLine">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnitAmount" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxType" type="base:taxType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxAmount" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineAmount" type="base:itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountCode" type="base:accountCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tracking" type="trk:TrackingCategory" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
