src/main/resources/XeroSchemas/v2.00/Organisation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Organisation"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Organisation"
    xmlns:org="http://www.xero.com/Organisation"
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:timez="http://www.xero.com/Timezone"
    xmlns:ccode="http://www.xero.com/CurrencyCode"  
    xmlns:country="http://www.xero.com/CountryCode" 
    xmlns:phone="http://www.xero.com/Phone" 
    xmlns:add="http://www.xero.com/Address">

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" /> 
  <xs:import schemaLocation="Timezone.xsd"
    namespace="http://www.xero.com/Timezone" />
  <xs:import schemaLocation="CurrencyCode.xsd"
    namespace="http://www.xero.com/CurrencyCode" /> 
  <xs:import schemaLocation="CountryCode.xsd"
    namespace="http://www.xero.com/CountryCode" />
  <xs:import schemaLocation="Phone.xsd"
    namespace="http://www.xero.com/Phone" />   
  <xs:import schemaLocation="Address.xsd"
    namespace="http://www.xero.com/Address" />   

  <xs:element name="Organisations" nillable="true" type="org:ArrayOfOrganisation" />

  <xs:complexType name="ArrayOfOrganisation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organisation" nillable="true" type="org:Organisation" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Organisation">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="APIKey" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="org:organisationName" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalName" type="org:organisationName" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaysTax" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrganisationType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrganisationEntityType" type="base:organisationEntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="BaseCurrency" type="ccode:currencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="country:isoCountryCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsDemoCompany" type="base:trueOrFalse" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrganisationStatus" type="base:organisationStatusCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrationNumber" type="base:companyRegistrationNumberType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxNumber" type="base:taxNumberType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FinancialYearEndDay" type="base:dayNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="FinancialYearEndMonth" type="base:monthNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="PeriodLockDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndOfYearLockDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreatedDateUTC" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Timezone" type="timez:timezoneCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShortCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Addresses" type="add:ArrayOfAddress" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phones" type="phone:ArrayOfPhone" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:simpleType name="organisationName">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>