src/main/resources/XeroSchemas/v2.00/Payment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Payment"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Account.xsd" />
  <xs:include schemaLocation="Contact.xsd" />
  <xs:include schemaLocation="LineItem.xsd" />
  <xs:include schemaLocation="Attachment.xsd" />
  <xs:include schemaLocation="PaymentItem.xsd" />
  <xs:include schemaLocation="InvoiceItem.xsd" />
  <xs:include schemaLocation="CreditNoteArray.xsd" />

  <xs:element name="Payments" nillable="true" type="ArrayOfPayment" />

  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="Payment" />
    </xs:sequence>
  </xs:complexType>


   <!-- Credit note against an invoice -->
  <xs:complexType name="CreditNoteForPayment">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNoteID" type="uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="AppliedAmount" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNoteNumber" type="xs:string" />   
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

</xs:schema>
