src/main/resources/XeroSchemas/v2.00/Payment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Payment"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Payment" 
    xmlns:pay="http://www.xero.com/Payment" 
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:acct="http://www.xero.com/Account"
    xmlns:inv="http://www.xero.com/Invoice" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />
  <xs:import schemaLocation="Account.xsd"
    namespace="http://www.xero.com/Account" />
  <xs:import schemaLocation="Invoice.xsd"
    namespace="http://www.xero.com/Invoice" />

  <xs:element name="Payments" nillable="true" type="pay:ArrayOfPayment" />
  <xs:element name="Payment" type="pay:Payment" />

  <xs:complexType name="Payment">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Account" type="acct:Account" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="base:referenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Invoice" type="inv:Invoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyRate" type="base:currencyRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentType" type="base:paymentType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="base:invoiceStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" nillable="true" type="xs:dateTime" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="pay:Payment" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
