src/main/resources/XeroSchemas/v2.00/Receipt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Receipt"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Receipt"
    xmlns:recpt="http://www.xero.com/Receipt"
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:user="http://www.xero.com/User" 
    xmlns:con="http://www.xero.com/Contact" 
    xmlns:line="http://www.xero.com/LineItem" 
    xmlns:attach="http://www.xero.com/Attachment" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" /> 
  <xs:import schemaLocation="User.xsd"
    namespace="http://www.xero.com/User" />
  <xs:import schemaLocation="Contact.xsd"
    namespace="http://www.xero.com/Contact" />
  <xs:import schemaLocation="LineItem.xsd"
    namespace="http://www.xero.com/LineItem" /> 
  <xs:import schemaLocation="Attachment.xsd"
    namespace="http://www.xero.com/Attachment" />  

  <xs:element name="Receipts" type="recpt:ArrayOfReceipt" />

  <xs:complexType name="ArrayOfReceipt">
    <xs:sequence>
      <xs:element name="Receipt" minOccurs="0" maxOccurs="unbounded" type="recpt:Receipt" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Receipt">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element name="ReceiptID" minOccurs="0" maxOccurs="1" type="base:uniqueIdentifier" />
      <xs:element name="ReceiptNumber" minOccurs="0" maxOccurs="1" type="xs:integer" />
      <xs:element name="Status" minOccurs="0" maxOccurs="1" type="base:receiptStatus" />
      <xs:element name="Url" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
      <xs:element name="ExternalLinkProviderName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="User" minOccurs="0" maxOccurs="1" type="user:User" />
      <xs:element name="Contact" minOccurs="0" maxOccurs="1" type="con:Contact" />
      <xs:element name="Date" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="UpdatedDateUTC" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="LineAmountTypes" minOccurs="0" maxOccurs="1" type="base:lineAmountType" />
      <xs:element name="LineItems" minOccurs="0" maxOccurs="1" type="line:ArrayOfLineItem" />
      <xs:element minOccurs="1" maxOccurs="1" name="SubTotal" type="base:itemPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalTax" type="base:itemPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="base:itemPrice" />
      <xs:element name="HasAttachments" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Attachments" minOccurs="0" maxOccurs="1" type="attach:ArrayOfAttachment" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
