src/main/resources/XeroSchemas/v2.00/Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
  targetNamespace="http://xero.com/api/2.02/schema"
  xmlns="http://xero.com/api/2.02/schema"
-->
<xs:schema id="Response"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Response"
    xmlns:resp="http://www.xero.com/Response"
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:con="http://www.xero.com/Contact" 
    xmlns:item="http://www.xero.com/Items" 
    xmlns:curr="http://www.xero.com/Currency" 
    xmlns:attach="http://www.xero.com/Attachment" 
    xmlns:acct="http://www.xero.com/Account"
    xmlns:cnote="http://www.xero.com/CreditNote" 
    xmlns:pay="http://www.xero.com/Payment"
    xmlns:trk="http://www.xero.com/Tracking"
    xmlns:ccode="http://www.xero.com/CurrencyCode"
    xmlns:org="http://www.xero.com/Organisation"
    xmlns:tax="http://www.xero.com/TaxRate"
    xmlns:jrnl="http://www.xero.com/Journal"
    xmlns:brand="http://www.xero.com/BrandingTheme"
    xmlns:manjrnl="http://www.xero.com/ManualJournal"
    xmlns:report="http://www.xero.com/Report"
    xmlns:emp="http://www.xero.com/Employee"
    xmlns:trans="http://www.xero.com/BankTransaction"
    xmlns:user="http://www.xero.com/User"
    xmlns:recpt="http://www.xero.com/Receipt"
    xmlns:exp="http://www.xero.com/ExpenseClaim" 
    xmlns:repinv="http://www.xero.com/RepeatingInvoice"
    xmlns:transfer="http://www.xero.com/BankTransfer"
    xmlns:inv="http://www.xero.com/Invoice" >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" /> 
  <xs:import schemaLocation="Contact.xsd"
    namespace="http://www.xero.com/Contact" />
  <xs:import schemaLocation="Items.xsd"
    namespace="http://www.xero.com/Items" />
  <xs:import schemaLocation="Currency.xsd"
    namespace="http://www.xero.com/Currency" /> 
  <xs:import schemaLocation="Attachment.xsd"
    namespace="http://www.xero.com/Attachment" />   
  <xs:import schemaLocation="Account.xsd"
    namespace="http://www.xero.com/Account" />   
  <xs:import schemaLocation="CreditNote.xsd"
    namespace="http://www.xero.com/CreditNote" /> 
  <xs:import schemaLocation="Payment.xsd"
    namespace="http://www.xero.com/Payment" />  
  <xs:import schemaLocation="Tracking.xsd"
    namespace="http://www.xero.com/Tracking" />  
  <xs:import schemaLocation="CurrencyCode.xsd"
    namespace="http://www.xero.com/CurrencyCode" />
  <xs:import schemaLocation="Organisation.xsd"
    namespace="http://www.xero.com/Organisation" />
  <xs:import schemaLocation="TaxRate.xsd"
    namespace="http://www.xero.com/TaxRate" />
  <xs:import schemaLocation="Journal.xsd"
    namespace="http://www.xero.com/Journal" />
  <xs:import schemaLocation="BrandingTheme.xsd"
    namespace="http://www.xero.com/BrandingTheme" />
  <xs:import schemaLocation="ManualJournal.xsd"
    namespace="http://www.xero.com/ManualJournal" />
  <xs:import schemaLocation="Employee.xsd"
    namespace="http://www.xero.com/Employee" /> 
  <xs:import schemaLocation="BankTransaction.xsd"
    namespace="http://www.xero.com/BankTransaction" />
  <xs:import schemaLocation="User.xsd"
    namespace="http://www.xero.com/User" />  
  <xs:import schemaLocation="Receipt.xsd"
    namespace="http://www.xero.com/Receipt" />  
  <xs:import schemaLocation="ExpenseClaim.xsd"
    namespace="http://www.xero.com/ExpenseClaim" />  
  <xs:import schemaLocation="RepeatingInvoice.xsd"
    namespace="http://www.xero.com/RepeatingInvoice" />  
  <xs:import schemaLocation="BankTransfer.xsd"
    namespace="http://www.xero.com/BankTransfer" /> 
  <xs:import schemaLocation="Invoice.xsd"
    namespace="http://www.xero.com/Invoice" />    
  <xs:import schemaLocation="Report.xsd"
    namespace="http://www.xero.com/Report" />    

  <xs:element name="Response" type="resp:ResponseType" />
  
  <xs:complexType name="ResponseType">
    <xs:sequence>
      
      <!-- Header -->
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProviderName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateTimeUTC" type="xs:dateTime" />
      
      <!-- Items -->
      <xs:element minOccurs="0" maxOccurs="1" name="Invoices" type="inv:ArrayOfInvoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contacts" type="con:ArrayOfContact" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxRates" type="tax:ArrayOfTaxRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="Accounts" type="acct:ArrayOfAccount" />
      <xs:element minOccurs="0" maxOccurs="1" name="TrackingCategories" type="trk:ArrayOfTrackingCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="Organisations" type="org:ArrayOfOrganisation" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreditNotes" type="cnote:ArrayOfCreditNote" />
      <xs:element minOccurs="0" maxOccurs="1" name="Currencies" type="curr:ArrayOfCurrency" />
      <xs:element minOccurs="0" maxOccurs="1" name="Payments" type="pay:ArrayOfPayment" />
      <xs:element minOccurs="0" maxOccurs="1" name="Journals" type="jrnl:ArrayOfJournal" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrandingThemes" type="brand:ArrayOfBrandingTheme" />
      <xs:element minOccurs="0" maxOccurs="1" name="Items" type="item:ArrayOfItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="ManualJournals" type="manjrnl:ArrayOfManualJournal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reports" type="report:ArrayOfReport" />
      <xs:element minOccurs="0" maxOccurs="1" name="Employees" type="emp:ArrayOfEmployee" />
      <xs:element minOccurs="0" maxOccurs="1" name="Attachments" type="attach:ArrayOfAttachment" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankTransactions" type="trans:ArrayOfBankTransaction" />
      <xs:element minOccurs="0" maxOccurs="1" name="Users" type="user:ArrayOfUser" />
      <xs:element minOccurs="0" maxOccurs="1" name="Receipts" type="recpt:ArrayOfReceipt" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpenseClaims" type="exp:ArrayOfExpenseClaim" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepeatingInvoices" type="repinv:ArrayOfRepeatingInvoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankTransfers" type="transfer:ArrayOfBankTransfer" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
