src/main/resources/XeroSchemas/v2.00/Setting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Setting"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Setting" 
    xmlns:set="http://www.xero.com/Setting"  
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:acct="http://www.xero.com/Account">

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" /> 
  <xs:import schemaLocation="Account.xsd"
    namespace="http://www.xero.com/Account" />   
  
  <xs:element name="Settings" nillable="true" type="set:ArrayOfSetting" />

  <xs:complexType name="ArrayOfSetting">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Accounts" type="acct:ArrayOfAccount" />
      <xs:element minOccurs="0" maxOccurs="1" name="TrackingCategories" type="set:TrackingCategories" />
      <xs:element minOccurs="0" maxOccurs="1" name="DaysInPayrollYear" type="xs:string" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>


  <xs:complexType name="TrackingCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeeGroups" type="set:EmployeeGroups" />
      <xs:element minOccurs="0" maxOccurs="1" name="TimesheetCategories" type="set:TimesheetCategories" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmployeeGroups">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TrackingCategoryID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="TrackingCategoryName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="TimesheetCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TrackingCategoryID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="TrackingCategoryName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>