src/main/resources/XeroSchemas/v2.00/Setup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    id="Setup" 
    elementFormDefault="qualified"
    targetNamespace="http://www.xero.com/Setup"
    xmlns:setup="http://www.xero.com/Setup"
    xmlns:base="http://www.xero.com/BaseTypes"
    xmlns:ccode="http://www.xero.com/CurrencyCode" 
    xmlns:add="http://www.xero.com/Address"
    xmlns:acct="http://www.xero.com/Account"
    xmlns:tax="http://www.xero.com/TaxRate"
    xmlns:org="http://www.xero.com/Organisation" 
    xmlns:item="http://www.xero.com/Items"
    xmlns:con="http://www.xero.com/Contact" 
    xmlns:inv="http://www.xero.com/Invoice"  >

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" /> 
  <xs:import schemaLocation="CurrencyCode.xsd"
    namespace="http://www.xero.com/CurrencyCode" /> 
  <xs:import schemaLocation="Address.xsd"
    namespace="http://www.xero.com/Address" />
  <xs:import schemaLocation="Account.xsd"
    namespace="http://www.xero.com/Account" />   
  <xs:import schemaLocation="TaxRate.xsd"
    namespace="http://www.xero.com/TaxRate" />
  <xs:import schemaLocation="Organisation.xsd"
    namespace="http://www.xero.com/Organisation" /> 
  <xs:import schemaLocation="Items.xsd"
    namespace="http://www.xero.com/Items" /> 
  <xs:import schemaLocation="Contact.xsd"
    namespace="http://www.xero.com/Contact" />
  <xs:import schemaLocation="Invoice.xsd"
    namespace="http://www.xero.com/Invoice" />  

  <xs:element name="Setup" nillable="true" type="setup:SetupType"/>

  <!--
  Setup for conversions
  -->
  <xs:complexType name="SetupType">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ConversionDetails" type="setup:ConversionDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="Organisation" type="org:Organisation" />
      <xs:element minOccurs="0" maxOccurs="1" name="Accounts" type="acct:ArrayOfAccount"/>
      <xs:element minOccurs="0" maxOccurs="1" name="TaxRates" type="tax:ArrayOfTaxRate"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Contacts" type="con:ArrayOfContact"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Items" type="item:ArrayOfItem"/>
    </xs:all>
  </xs:complexType>

  <!--
  Conversion Details
  -->
  <xs:complexType name="ConversionDetails">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ConversionProductName" type="setup:conversionProductName" />
      <xs:element minOccurs="1" maxOccurs="1" name="OriginatingProductName" type="setup:originatingProductName" />
      <xs:element minOccurs="1" maxOccurs="1" name="OriginatingProductVersion" type="setup:originatingProductVersion" />
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="conversionProductName">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="originatingProductName">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="originatingProductVersion">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>