src/main/resources/XeroSchemas/v2.00/TaxRate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="TaxRate"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/TaxRate" 
    xmlns:tax="http://www.xero.com/TaxRate"  
    xmlns:base="http://www.xero.com/BaseTypes">

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />  

  <xs:element name="TaxRates" nillable="true" type="tax:ArrayOfTaxRate" />
  
  <xs:complexType name="ArrayOfTaxRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxRate" nillable="true" type="tax:TaxRate" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TaxRate">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxType" type="base:taxType" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanApplyToAssets" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanApplyToEquity" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanApplyToExpenses" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanApplyToLiabilities" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanApplyToRevenue" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="DisplayTaxRate" nillable="true" type="base:taxRate" />
      <xs:element minOccurs="1" maxOccurs="1" name="EffectiveRate" nillable="true" type="base:taxRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="base:taxRateStatus" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

</xs:schema>