src/main/resources/XeroSchemas/v2.00/Tracking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Tracking"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xero.com/Tracking" 
    xmlns:trk="http://www.xero.com/Tracking" 
    xmlns:base="http://www.xero.com/BaseTypes">

  <xs:import schemaLocation="BaseTypes.xsd"
    namespace="http://www.xero.com/BaseTypes" />

  <xs:element name="TrackingCategories" type="trk:ArrayOfTrackingCategory" />
  
  <xs:complexType name="TrackingCategory">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="base:ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="base:ArrayOfWarning" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="base:trackingNameType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TrackingCategoryID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Options" type="trk:ArrayOfTrackingCategoryOption" />
      <xs:element minOccurs="0" maxOccurs="1" name="Option" type="xs:string" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="TrackingCategoryOption">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="TrackingOptionID" type="base:uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="base:trackingNameType" />
    </xs:all>
    <xs:attribute name="status" type="base:entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ArrayOfTrackingCategoryOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="trk:TrackingCategoryOption" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ArrayOfTrackingCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingCategory" nillable="true" type="trk:TrackingCategory" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
